/.env
/__pycache__/
/.main.py.~undo-tree~
/.app.py.~undo-tree~
/..env.~undo-tree~
/app/.__init__.py.~undo-tree~
/app/.data.py.~undo-tree~
/app/.models.py.~undo-tree~
/app/.routes.py.~undo-tree~
app/.__init__.py.~undo-tree~
app/.data.py.~undo-tree~
app/.models.py.~undo-tree~
/app/__pycache__/
/migrations/
/app/.bot.py.~undo-tree~
/data/loot-data.json
/data/character-json.json
data/*.json
/data/*.json
